html{
    padding:0;
    margin:0;
}

body{
    margin: 0 auto;;
    padding: 0;
    font-family:'Roboto', sans-serif;
    color:rgb(114,118,122);
}

/* NAV STYLES */

nav{
    font-size:.8rem;
}

ul{
    margin:0;
    padding:0;
}

nav ul li{
    display:inline;
    margin:8px;
    cursor:pointer;
}

.floatl{
    float:left;
}

.floatr{
    float:right;
}

.contain{
    clear:both;
}

.larger{
    font-size:1rem !important;
}

.larger:hover{
    color:black;
}

nav ul li:hover{
    text-decoration: underline;
}

.blu{
    background-color:rgb(66,133,244);
    color:#FFFFFF;
    padding:7px 15px 7px 15px !important;
    font-weight:bold;
}

.btn{
    padding:6px 10px 6px 10px;
    border-radius:2px;
    border:0;
}

/* CONTENT STYLES */

.wrap{
    margin:25px;
}

.content{
    margin:0 auto;
    padding-top:110px;
    text-align:center;
}

.bar{
    text-align:left;
    margin:30px auto;;
    width:50%;
    max-width:500px;
    border:1px solid #EFEFEF;
    padding:10px 20px;
    border-radius:30px;
}

.bar:hover{
    box-shadow:1px 1px #A1A1A1;
}

input[type=text]{
    border:0;
    padding-left:10px;
    font-size:1rem;
    width:90%;
}

.grey{
    background-color: rgb(244,244,244);
    padding:10px 20px;
    font-size:.8rem;
    color:rgb(95,99,104);
    margin:5px;
}

/* Footer Styles */

footer{
    font-size:.8rem;
    bottom:0;
    position:absolute;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width:100%;
    background-color:rgb(242,242,242);
    }

footer ul{
    padding:10px;
    font-size:.9rem;
}

footer ul li{
    display:inline;
    margin:8px;
    cursor:pointer;
}

footer ul li:hover{
    text-decoration: underline;
}

.trow{
    grid-row:1/2;
    grid-column: 1/3;
    border-bottom: solid 1px rgb(228,228,288);
}

.trow li{
    cursor:default;
}

.trow li:hover{
    text-decoration: none;
}

.footl{
    text-align:left;
    display:inline;
    grid-row:2/3;
    grid-column:1/2;
}

.footr{
    text-align:right;
    display:inline;
    grid-row:2/3;
    grid-column:2/3;
}