body{
    margin: 0 auto;;
    padding: 0;
    font-family:'Roboto', sans-serif;
    color:rgb(114,118,122);
}

/* NAV STYLES */

nav{
    font-size:.8rem;
}

ul{
    margin:0;
    padding:0;
}

nav ul li{
    display:inline;
    margin:8px;
    cursor:pointer;
}

.floatl{
    float:left;
}

.floatr{
    float:right;
}

.contain{
    clear:both;
}

.larger{
    font-size:1rem !important;
}

.larger:hover{
    color:black;
}

nav ul li:hover{
    text-decoration: underline;
}
/* CONTENT STYLES */

.wrap{
    margin:25px;
}

.content{
    margin:0 auto;
    text-align:center;
}

/* Footer Styles */

footer{
    font-size:.8rem;
}

footer ul li{
    display:inline;
}